@{
    ViewBag.Title = "Checkout";
    ViewBag.PageClass = "sub-lvl-bg";
    Html.BeginScriptContext();
    Html.AddScriptFile("~/js/checkout.js");
    Html.EndScriptContext();
}
@section HomePageHeader {
    @Html.Partial("_SecondaryHeader")
}
<div class="row product-detail-content" ng-controller="CheckoutViewModel" ng-cloak>
    <div class="col-md-12 sub-head">
        <h2 ng-show="hasLoaded" ng-bind-template="{{currentUser.FirstName}} {{currentUser.LastName}}'s Cart"></h2>
    </div>
    <div class="col-md-12">
        <table class="table margin-top" ng-show="cart.items">
            <thead>
                <tr>
                    <th class="col-md-2"></th>
                    <th class="col-md-4">Name and Description</th>
                    <th class="col-md-2">Size</th>
                    <th class="col-md-2">Quantity</th>
                    <th class="col-md-2">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cart.items">
                    <td class="col-md-2 cart-product-img">
                        <a ng-href="@Url.Content("~/")Product/{{item.productCode}}">
                            <img class="img-responsive img-responsive-fix center-block"
                                 data-ng-src="{{item.image}}"
                                 alt="{{item.name}}" />
                        </a>
                    </td>
                    <td class="col-md-4">
                        <h3 ng-bind-template="{{item.name}}"></h3>
                        <p ng-bind-template="{{item.description}}"></p>
                        <p>
                            <span ng-show="item.priceSet.isDiscounted"
                                  ng-class="{ striked: item.priceSet.isDiscounted}"
                                  ng-bind-template="{{item.priceSet.displayPrice.Currency.CurrencySymbol}}{{item.priceSet.displayPrice.Amount}}"></span>
                            <span ng-show="item.priceSet.isDiscounted"
                                  class="discounted-price"
                                  ng-bind-template="{{item.priceSet.displayDiscountedPrice.Currency.CurrencySymbol}}{{item.priceSet.displayDiscountedPrice.Amount}}">&nbsp;</span>
                        </p>
                    </td>
                    <td class="col-md-2 border-left"><h4 ng-bind-template="{{item.size}}"></h4></td>
                    <td class="col-md-2 border-left"><h4 ng-bind-template="{{item.quantity}}"></h4></td>
                    <td class="col-md-2 border-left">
                        <h3 class="cart-price"><span ng-hide="item.priceSet.isDiscounted" ng-bind-template="{{item.priceSet.displayPrice.Currency.CurrencySymbol}}{{item.priceSet.displayPrice.Amount}}"></span></h3>
                        <h3><span ng-show="item.priceSet.isDiscounted" class="discounted-price" ng-bind-template="{{item.priceSet.displayDiscountedPrice.Currency.CurrencySymbol}}{{item.priceSet.displayDiscountedPrice.Amount}}">&nbsp;</span></h3>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-no-border border-top" ng-show="cart.items">
            <tbody>
                <tr class="text-align-right" ng-show="cart.items">
                    <td class="col-md-8"></td>
                    <th class="col-md-2"><h4>Sub Total</h4></th>
                    <td class="col-md-2 border-left border-bottom"><h4 ng-bind-template="${{cart.subTotal()}}"></h4></td>
                </tr>
                <tr class="text-align-right" ng-show="cart.items">
                    <td class="col-md-8"></td>
                    <th class="col-md-2"><h4>Shipping</h4></th>
                    <td class="col-md-2 border-left border-bottom"><h4 ng-bind-template="${{cart.shipping}}"></h4></td>
                </tr>
                <tr class="text-align-right" ng-show="cart.items">
                    <td class="col-md-8"></td>
                    <th class="col-md-2"><h4>Tax</h4></th>
                    <td class="col-md-2 border-left checkout-tax border-bottom"><h4 ng-bind-template="${{cart.calculatedGstCost()}}"></h4></td>
                </tr>
                <tr class="text-align-right" ng-show="cart.items">
                    <td class="col-md-8"></td>
                    <th class="col-md-2 cart-total"><h2>Total</h2></th>
                    <td class="col-md-2 cart-total border-left border-bottom"><h2 ng-bind-template="${{cart.grandTotal()}}"></h2></td>
                </tr>
                <tr class="text-align-right" ng-show="!purchaseWasSuccessful">
                    <td class="col-md-8"></td>
                    <th class="col-md-2"></th>
                    <td class="col-md-2 btn-purchase-bg"><button class="btn-purchase btn" ng-disabled="disablePurchaseButton" ng-click="purchase()">Make purchase</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <p ng-show="hasLoaded && !cart.count()">
            Your shopping cart is empty, please @Html.ActionLink("add some gear", "Index", "Home") to enhance your adventures.
        </p>
        <p ng-show="!hasLoaded">
            Fetching your gear...
        </p>
        <p ng-show="purchaseWasSuccessful">
            Congratulations! Your order has been placed and our customer service representatives will be in touch shortly.
            Or, @Html.ActionLink("click here", "Index", "Home") to continue on your adventure
        </p>
        <div><a ng-href="~/Api/Cart/{{currentUser.CustomerKey}}" class="btn-sub" ng-show="hasLoaded" target="_blank">View cart JSON</a></div>
    </div>
</div>