@{
    ViewBag.Title = "Product Details";
    ViewBag.PageClass = "sub-lvl-bg";
    Html.BeginScriptContext();
    Html.AddScriptFile("~/js/product.js");
    Html.EndScriptContext();
}
@section HomePageHeader {
    @Html.Partial("_SecondaryHeader")
}
<script language="javascript">
    var productId = '@ViewBag.ProductId';
</script>

<div class="row" ng-controller="ProductViewModel" ng-cloak>
    <div class="col-md-12 sub-head">
        <h2 ng-cloak class="ng-cloak" ng-bind-template="{{productDetails.name}}"></h2>
    </div>
    <div class="col-md-8 product-detail-content">
        <div class="media">
            <img class="media-object img-responsive center-block ng-cloak"
                 data-ng-src="{{productDetails.image}}"
                 ng-cloak
                 alt="{{productDetails.name}}" />
            <p />
            <p ng-bind-template="{{productDetails.description}} "></p>
        </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Reviews</h2>
                </div>
                <div class="panel-body list-group">
                    <div class="list-group-item" ng-repeat="review in productReviews" on-last-repeat>
                        <div>
                            <div class="badge" ng-bind-template="{{review.ReviewingCustomer.Name}}"></div>
                            <span ng-bind-template="({{review.ReviewDate | date:'dd MMM yyyy'}})"></span>
                            <span class="rateit"
                                  data-rateit-value="{{review.Rating}}"
                                  data-rateit-ispreset="true"
                                  data-rateit-readonly="true"></span>
                            <div class="margin-top" ng-bind-template="{{review.ReviewText}}"></div>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="response in review.Responses">
                                    <div class="badge" ng-bind-template="{{response.CustomerResponding.Name}}"></div>
                                    <div class="pull-right" ng-bind-template=" ({{response.Date  | date:'dd MMM yyyy'}})"></div>
                                    <div ng-bind-template="{{response.ResponseText}}"></div>
                                </li>
                                <li class="list-group-item">
                                    <a id="button{{review.commentId}}" ng-click="toggleComment(review)" ng-bind-template="Comment on {{review.ReviewingCustomer.Name}}'s review"></a>
                                    <div id="input{{review.commentId}}" style="display:none;">
                                        <input id="text{{review.commentId}}" class="form-control response-input" type="text" placeholder="Enter comment" />
                                        <button class="pull-right add-response" ng-click="addComment(review)">Add</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="panel-body form-inline">
                    <h4>Add a review for this product</h4>
                    <div class="form-group">
                        <label class="sr-only">Review</label>
                        <textarea id="AddReviewText" class="form-control" style="width: 300px;" placeholder="Enter your review"
                                  ng-model="addReviewText"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Rating</label>
                        <div class="rateit" id="AddReviewRating"
                             data-rateit-step="1"
                             data-rateit-resetable="false"
                             data-rateit-value="5"></div>
                    </div>
                    <div class="form-group">
                        <button ng-click="addReview()">Add Review</button>
                    </div>
                </div>
                <div class="margin-top"><a ng-href="{{productReviewJson}}" class="btn-sub" target="_blank">View Product Reviews JSON</a></div>
            </div>
    </div>

    <div class="col-md-4">
        <div class="well product-detail-info">
            <h3>
                <span ng-class="{ striked: productDetails.priceSet.isDiscounted}" ng-bind-template="{{productDetails.priceSet.displayPrice.Currency.CurrencySymbol}}{{productDetails.priceSet.displayPrice.Amount}}"></span>
                <span ng-hide="productDetails.priceSet.isDiscounted" ng-bind-template="  ({{productDetails.priceSet.displayPrice.Currency.Code}})"></span>
                <span class="discounted-price" ng-show="productDetails.priceSet.isDiscounted" ng-bind-template="&nbsp;{{productDetails.priceSet.displayDiscountedPrice.Currency.CurrencySymbol}}{{productDetails.priceSet.displayDiscountedPrice.Amount}} ({{productDetails.priceSet.displayDiscountedPrice.Currency.Code}})"></span>
            </h3>
            <p ng-bind-template="{{productDetails.productCode}}"></p>
            <h4 ng-bind-template="{{productDetails.colour}}"></h4>
            <div class="size-selector" ng-show=" productDetails.sizes">
                <select ng-model="selectedSize" ng-options="size.value for size in productDetails.sizes"></select>
            </div>
            <div class="quantity-selector" ng-enabled="enableAddToCart">
                <button class="btn btn-inverse" type="button"
                        ng-disabled="item.quantity <= 0 || successfulAddToCart"
                        ng-click="productDetails.subtract()">
                    -
                </button>
                <input class="text-center" type="text" readonly="readonly" ng-model="productDetails.quantity" />
                <button class="btn btn-success" type="button"
                        ng-disabled="item.quantity >= 1000 || successfulAddToCart"
                        ng-click="productDetails.add()">
                    +
                </button>
            </div>
            <div>
                <input type="button" ng-cloak ng-enabled="enableAddToCart" class="btn btn-purchase ng-cloak" ng-click="addToCart()" value="{{addButtonText}}" ng-disabled="successfulAddToCart || !enableAddToCart" />
                <a href="~/Checkout" ng-show="successfulAddToCart" class="btn-sub">View cart</a>
            </div>
            <div>
                <h3>Specifications</h3>
                <div class="specifications-container">
                    <div ng-repeat="(key, value) in productDetails.productAttributes">
                        <span class="specification-key" ng-bind-template="{{key}}"></span>
                        <span class="specification-value"><a ng-href="~/Search/{{key}}/{{value}}" ng-bind-template="{{value}}"></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-top"><a ng-href="{{productJson}}" class="btn-sub" target="_blank">View Product JSON</a></div>
        <div class="margin-top"><a ng-href="~/Admin/Product/Edit/{{productDetails.productCode}}" class="btn-sub" target="_blank">Edit Product Details</a></div>
    </div>
</div>