@{
    ViewBag.Title = "Administration";
}
@section HomePageHeader {
    @Html.Partial("_SecondaryHeader")
}
<div class="row">
    <div class="col-md-4">
        <ul>
            <li><a href="~/Admin/Category/">Categories</a></li>
        </ul>
    </div>
</div>