@{
    ViewBag.Title = "Create Indexer";
    ViewBag.PageClass = "sub-lvl-bg";
}
@section HomePageHeader {
    @Html.Partial("_SecondaryHeader")
}
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li>
                @Html.ActionLink("Create Indexer", "Create")
            </li>
            <li>
                @Html.ActionLink("Run Indexer", "Run")
            </li>
        </ul>
    </div>
</div>

