<nav class="navbar" role="navigation">
    <div class="">
        @Html.Partial("_NavbarMobile")

                <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            @Html.Partial("_Navbar")
            @Html.Partial("_SearchBox")
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
