<div class="jumbotron hidden-xs">
    <div class="hero-sub-image">
        <div class="sub-brand-logo"></div>
        <h1 class="page-title sub-title">@ViewBag.BannerTitle</h1>
        @Html.Partial("_Navigation")
    </div>
</div>
