@{
    ViewBag.Title = "Order History";
    ViewBag.PageClass = "sub-lvl-bg";
    Html.BeginScriptContext();
    Html.AddScriptFile("~/js/orderHistory.js");
    Html.EndScriptContext();
}
@section HomePageHeader {
    @Html.Partial("_SecondaryHeader")
}
<div class="row product-detail-content" ng-controller="OrderHistoryController" ng-cloak>
    <div class="col-md-12 sub-head">
        <h2>Your recent orders</h2>
    </div>
    <div class="col-md-12">
        <table class="table margin-top" ng-show="orderItems">
            <thead>
                <tr>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-4">Order #</th>
                    <th class="col-md-3">Quantity</th>
                    <th class="col-md-3">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in orderItems">
                    <td class="col-md-2"><h4 ng-bind-template="{{item.OrderDate | date : 'mediumDate'}}"></h4></td>
                    <td class="col-md-4 border-left"><h4><a ng-href="~/OrderHistory/Detail/{{item.OrderId}}" ng-bind-template="{{item.OrderId}}"></a></h4></td>
                    <td class="col-md-3 border-left"><h4 ng-bind-template="{{item.ItemQuantity}}"></h4></td>
                    <td class="col-md-3 border-left">
                        <h3 class="cart-price"><span ng-bind-template="{{item.OrderTotal.Currency.CurrencySymbol}}{{item.OrderTotal.Amount}}"></span></h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <p ng-show="hasLoaded && !orderItems.length">
            Your order history is empty, please @Html.ActionLink("add some gear", "Index", "Home") to enhance your adventures.
        </p>
        <p ng-show="!hasLoaded">
            Fetching your history...
        </p>

        <div><a ng-href="~/Api/Customer/Orders/{{currentUser.CustomerKey}}" class="btn-sub" ng-show="hasLoaded" target="_blank">View history JSON</a></div>
    </div>
</div>